body {
    background-color: #D8D8D8;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura que el body ocupe toda la pantalla */
body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
